<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AI Programming Challenge</title>
		<meta name="description" content="AI Challenge">
		<meta name="author" content="DaTA">
		<link rel="stylesheet" href="css/styles.css?v=1.0">
	</head>

	<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>

	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			margin: 0;
		}

		canvas { background: #eee; }
	</style>

	<body>
		<div id="app">
			<!--TODO : Dynamic scaling, depending on the the page's layout-->
			<canvas id="screen" width="1600" height="800"></canvas>

			<!-- <canvas v-if="hasParty" id="screen" width="1600" height="800"></canvas>

			<div v-else>
				<select v-model="ai1">
					<option v-for="ai in aiList">{{ ai }}</option>
				</select>
				VS
				<select v-model="ai2">
					<option v-for="ai in aiList">{{ ai }}</option>
				</select>

				<button @click="onSubmit">Start!</button>
			</div> -->
		</div>
	</body>

	<script src="/socket.io/socket.io.js"></script>

	<script src="js/graphics.js"></script>
	<script src="js/displayGame.js"></script>

	<script src="js/app.js" charset="utf-8"></script>

	<!-- Temporary -->
	<script type="text/javascript">
		const socket = io.connect()
		socket.emit('start-game', ["safe", "safe"])
		socket.on('start-game', state => {
		const screen = new Canvas('screen')
		displayGame(screen, state.mapSize, state.terrain, state.elements)
		})
		socket.on('update-game', state => {
		if (!screen) return
		screen.removeAll()
		displayGame(screen, state.mapSize, state.terrain, state.elements)
		})
		socket.on('end-game', data => {
		if (!screen) return
		console.log(data.winner)
		screen.removeAll()
		screen = null
		})
	</script>
</html>
